@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #BB9457;
}

header {
    width: 85%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto 0px auto;
}

header h1 {
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
}

header p {
    margin-top: 20px;
    font-size: 20px;
}

.tecnologias-container {
    width: 80%;
    margin: 0px auto 0px auto;
}

div .tecnologias {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px 20px;
    margin-top: 50px;
    font-size: 15px;
    flex-wrap: wrap;
}

.html, .css, .javascript, .react, .nodejs, .sql {
    width: 30%;
    background-color: #FFE6A7;
    padding: 10px 15px;
    border-radius: 15px;
}

.html h2 {
    color: #ff4500;
}

.css h2 {
    color: #0b6ea7;
}

.javascript h2 {
    color: #d1bd08;
}

.react h2 {
    color: #00ccff;
}

.nodejs h2 {
    color: #73ff00;
}

.sql h2 {
    color: #3f4142;
}

@media (max-width: 860px){
    header p {
        font-size: 15px;
    }
}

@media (max-width: 425px){
    div .tecnologias {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .html, .css, .javascript, .react, .nodejs, .sql {
        width: 100%;
        text-align: center;
        font-size: 13px;
    }

    .sql {
        margin-bottom: 40px;
    }
}