* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px 20px;
}

.header-content a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    margin-right: -7px;
}

.header-content a:hover {
    text-decoration: underline;
}

.header-content .key-numbers {
    background-color: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-content .profile-picture {
    background-color: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-content .profile-picture img {
    border-radius: 50%;
}

.header-content .key-numbers:hover, .header-content .profile-picture:hover {
    background-color: #2f3135;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 20px;
    margin-top: -250px;
}

.main-content .search {
    border: 1px solid #5f6368;
    width: 582px;
    height: 44px;
    border-radius: 30px;
    padding: 5px 8px 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content .search:hover {
    border-color: #2f3135;
    background-color: #2f3135;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1)
}

.main-content .search .right-icons img {
    margin-right: 10px;
    cursor: pointer;
}

.main-content .search-tips button {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: #303134;
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.main-content .search-tips button:hover {
    border: 1px solid #5f6368;
}

.footer-content {
    display: flex;
    flex-direction: column;
    color: #9aa0a6;
    font-size: 15px;
    background-color: #171717; 
}

.footer-content .country {
    width: 100%;
    border-bottom: 0.01px solid #2f3135;
    padding: 15px 30px;
}

.footer-content .final-bar {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.footer-content .final-bar a {
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    color: #9aa0a6;
}

.footer-content .final-bar a:hover {
    text-decoration: underline;
}