.classe1 {
    ul {
        background-color: red;
    }
    li {
        background-color: blue;
        padding: 10px 5px;
    }
    button {
        background-color: green;
        color: white;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: red;
        }
    }
}